html {
    background-image: url(Images/backgroundlandscape1.jpeg);
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    
    
}

    

h1 {
    font-size: 2em;
    
}

h2 {
    font-size: 1.8em;
    
}

h3 {
    font-size: 1.6em;
    
}

p{
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 1.1em;
    
}


a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.header_img {
    
    align-content: center;
    height: 80px;
    width: 450px;
    
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  padding 12px;
  border-radius: 5px;
}

.navbar a{
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
 position:fixed;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.donate{
    float:right;
    background-color:slategray;
    color: #333;
    
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f1f1f1; color: #333;}


.classfooter {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 200px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer a {
    
    font-size: 18px;
    padding: 3px;
    background-color: lightgray;
    text-decoration: none;
    
    
    
    
    
}









